@model IEnumerable<Restaurante.Entities.TipoCorreo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.ApeMat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.ApeMat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TipoCorreoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TipoCorreoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TipoCorreoId })
        </td>
    </tr>
}

</table>
